<navbar></navbar>
<div class="user-container">
    <div class="user-info">
        <span>ID: {{user.id}}</span>
        <span>Name: {{user.name}}</span>
        <span>E-mail: {{user.email}}</span>
    </div>
    <form *ngIf="mode === 'edit'" class="form" #UserForm="ngForm">
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="editUserBody.name" name="name">
        <label for="email">E-mail</label>
        <input type="email" [(ngModel)]="editUserBody.email" name="email">
    </form>
    <form *ngIf="mode === 'delete'" class="form" #UserForm="ngForm">
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="user.name" name="name">
        <label for="email">E-mail</label>
        <input type="email" [(ngModel)]="user.email" name="email">
    </form>
    <div class="wrapper">
        <div (click)="editMode()" class="icon edit">
            <img src="assets/edit.svg" alt="">
            <div class="tooltip">Edit</div>
        </div>
        <div (click)="deleteMode()" class="icon delete">
            <img src="assets/trash.svg" alt="">
            <div class="tooltip">Delete</div>
        </div>
        <button (click)="editUser()" *ngIf="mode === 'edit'" class="edit-btn">Edit</button>
        <button (click)="deleteUser()" *ngIf="mode === 'delete'" class="delete-btn">Delete</button>
    </div>
</div>