<div class="nps-container">
    <span *ngIf="user && !userScore">Rate the product!</span>
    <ng-container  
        *ngFor="let score of scores, index as i"
        >
        <div *ngIf="user" class="nps-input">
            <img *ngIf="mode ==='vote'"(click)=newScore(i+1) src="assets/{{score}}.svg" alt="">
            <img *ngIf="mode ==='edit'"(click)=editScore(i+1) src="assets/{{score}}.svg" alt="">
            <div >{{i + 1}}</div>
        </div>
    </ng-container>
    <div 
    *ngIf="userScore"
    class="user-score"
    data-tooltip="Your rate!"
    [ngStyle]="{'color': userScore.score > 8 ? 'green' : userScore.score < 7 ? 'red' : 'gray'}"
    >{{userScore.score}}
</div>
</div>