<nav>
    <navbar></navbar>
</nav>
<div class="product-container">
    <section class="product-img">
        <img src="assets/dross.png" alt="">
    </section>
    <section class="cart-info">
        <h1>{{productInfo?.name}}</h1>
        <h2 
        data-tooltip="Product rating!"
        [ngStyle]="{'color': productScore > 80 ? 'green' : productScore < 70 ? 'red' : 'white'}"
        >
            {{productScore}}
        </h2>
        <span>{{productInfo?.price | currency}}</span>
        <button>Buy</button>
        <nps (scoreEvent)="updateNps($event)" *ngIf="render" [user]="user" [productId]="productId" [user_token]="user_token"></nps>
    </section>
    <section class="product-info">
        <p>{{productInfo?.description}}</p>
    </section>
</div>