<navbar></navbar>
<div class="products-container">
    <div class="search-bar">
        <input [(ngModel)]="filter" type="text" placeholder="Type here to search">
        <button (click)="productFilter()" class="search-btn">Search</button>
    </div>
    <div *ngFor="let product of productList">
        <a [routerLink]="['/product', product.id]">
            <product-card [productInfo]="product"></product-card>
        </a>
    </div>
    <div class="load-btn">
        <button (click)="loadMore()">Load More</button>
    </div>
</div>