<div class="form-container">
    <div class="form-group">
        <h1>Sign-up</h1>
        <form class="form" #signUpForm="ngForm">
            <label for="name">Name</label>
            <input 
                type="text" 
                name="name"
                [(ngModel)]="model.name" 
                required 
                >
            <label for="email">E-mail</label>
            <input 
                type="email" 
                name="email" 
                [(ngModel)]="model.email"
                required 
                >
            <label for="password">Password</label>
            <input 
                type="password" 
                name="password"
                [(ngModel)]="model.password" 
                required 
                >
            <label for="confirm-password">Confirm Password</label>
            <input 
                type="password" 
                name="pwConfirm"
                [(ngModel)]="model.pwConfirm"
                required 
                >
        </form>
        <button
        type="submit" 
        (click)="onSubmit()" 
        class="submit-btn"
        [class.disabled]=signUpForm.invalid
        >Submit
    </button>
</div>
</div>